@media (max-width: 576px) {
  .starability-result {
    width: 120px;
    height: 24px;
    background-size: 24px auto;
  }

  .starability-result::after {
    height: 24px;
    background-size: 24px auto;
  }

  .starability-result[data-rating="5"]::after { width: 120px; }
  .starability-result[data-rating="4"]::after { width: 96px; }
  .starability-result[data-rating="3"]::after { width: 72px; }
  .starability-result[data-rating="2"]::after { width: 48px; }
  .starability-result[data-rating="1"]::after { width: 24px; }

  .starability-slot {
    width: 120px;
    min-height: 48px;
  }

  .starability-slot > label {
    width: 24px;
    height: 24px;
    background-size: 24px auto;
  }

  .starability-slot > label::before {
    height: 24px;
    background-size: 24px auto;
  }

  .starability-slot > label:nth-of-type(5)::before { width: 96px; left: -96px; }
  .starability-slot > label:nth-of-type(4)::before { width: 72px; left: -72px; }
  .starability-slot > label:nth-of-type(3)::before { width: 48px; left: -48px; }
  .starability-slot > label:nth-of-type(2)::before { width: 24px; left: -24px; }
  .starability-slot > label:nth-of-type(1)::before { width: 0; left: 0; }
}

@media (max-width: 768px) {
  .starability-result {
    width: 135px;
  }

  .starability-slot {
    width: 135px;
  }
}
